.sidebar {
    width: 15%;
    height: 30vh;
    background-color: #FF0000;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 1vh;
    margin-left: 1vh;
}

.textinputs {
    width: 80%;
}

.labels {
    font-family: -webkit-body;
    padding-bottom: 1vh;
}

#Selector {
    width: 65%;
}

#submitButton {
    margin-top: 5px;
    width: 40%;
}

.users {
    width: 85%;
    height: 100%;
}

.user {
    border: 2px solid black;
}

#gradelabel {
    padding-left: 10px
}

#namelabel {
    padding-left:10px;
}

hr { margin-top: 10px; margin-bottom: 10px }

.rowC{display:flex; flex-direction:row;}